In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

path_to_data = "../../data/"
nodes_header = ["id", "year", "title", "authors", "journal", "abstract"]
nodes = pd.read_csv(path_to_data+"node_information.csv", names=nodes_header)
nodes.head()

,id,year,title,authors,journal,abstract
0,1001,2000,compactification geometry and duality,Paul S. Aspinwall,NaN,these are notes based on lectures given at tas...
1,1002,2000,domain walls and massive gauged supergravity p...,"M. Cvetic, H. Lu, C.N. Pope",Class.Quant.Grav.,we point out that massive gauged supergravity ...
2,1003,2000,comment on metric fluctuations in brane worlds,"Y.S. Myung, Gungwon Kang",NaN,recently ivanov and volovich hep-th 9912242 cl...
3,1004,2000,moving mirrors and thermodynamic paradoxes,Adam D. Helfer,Phys.Rev.,quantum fields responding to moving mirrors ha...
4,1005,2000,bundles of chiral blocks and boundary conditio...,"J. Fuchs, C. Schweigert",NaN,proceedings of lie iii clausthal july 1999 var...

In [2]:
nodes.describe()

                 id          year
count  2.777000e+04  27770.000000
mean   6.096134e+06   1998.009039
std    4.581677e+06      3.124684
min    1.001000e+03   1992.000000
25%    2.041122e+05   1995.000000
50%    9.405182e+06   1998.000000
75%    9.705204e+06   2001.000000
max    9.912293e+06   2003.000000

In [5]:
nodes_header = ["id", "year", "title", "authors", "journal", "abstract"]
nodes_preprocessed = pd.read_csv(path_to_data+"nodes_preprocessed.csv", names=nodes_header)
nodes_preprocessed.head()

,id,year,title,authors,journal,abstract
0,id,year,title,authors,journal,abstract
1,1001,2000,"['compactif', 'geometri', 'dualiti']",['paul s. aspinwall'],NaN,"['note', 'base', 'lectur', 'given', 'tasi99', ..."
2,1002,2000,"['domain', 'wall', 'massiv', 'gaug', 'supergra...","['m. cvetic', 'h. lu', 'c.n. pope']","['class', 'quant', 'grav']","['point', 'massiv', 'gaug', 'supergrav', 'pote..."
3,1003,2000,"['comment', 'metric', 'fluctuat', 'brane', 'wo...","['y.s. myung', 'gungwon kang']",NaN,"['recent', 'ivanov', 'volovich', 'hep-th', '99..."
4,1004,2000,"['move', 'mirror', 'thermodynam', 'paradox']",['adam d. helfer'],"['phys', 'rev']","['quantum', 'field', 'respond', 'move', 'mirro..."

In [6]:
nodes_preprocessed.describe()

,id,year,title,authors,journal,abstract
count,27771,27771,27771,23738,20299,27771
unique,27771,13,27496,15834,280,27765
top,9702094,2002,"['black', 'hole', 'entropi']","[""shin'ichi nojiri"", 'sergei d. odintsov']","['phys', 'lett']","['comment', 'start', 'paper', 'hep-th', '01060..."
freq,1,3335,7,38,3575,3