In [9]:
import numpy as np
import pandas as pd
from tqdm import tqdm

path_to_data = "../data/"
training = pd.read_csv(path_to_data+"training_features.txt")
training.head()

,my_index,id1,id2,target,overlap_title,date_diff,common_author,score_1_2,score_2_1,cosine_distance,jaccard,adar,preferential_attachment,resource_allocation_index,common_neighbors
0,9510123|9502114,9510123,9502114,1,2,0,0,17.844392,14.535935,0.075791,0.066667,0.513898,55.0,0.142857,0.142857
1,9707075|9604178,9707075,9604178,1,1,1,0,19.415184,24.296850,0.082450,0.098039,4.320366,11388.0,0.226401,0.226401
2,9312155|9506142,9312155,9506142,0,0,-2,0,15.116037,10.080194,0.018402,0.000000,0.000000,5.0,0.000000,0.000000
3,9911255|302165,9911255,302165,0,0,-4,0,16.765770,20.295904,0.058245,0.000000,0.000000,280.0,0.000000,0.000000
4,9701033|209076,9701033,209076,0,0,-5,0,21.457809,25.240819,0.069025,0.000000,0.000000,168.0,0.000000,0.000000

In [7]:
training.describe()

,id1,id2,target,overlap_title,date_diff,common_author
count,6.155120e+05,6.155120e+05,615512.000000,615512.000000,615512.000000,615512.000000
mean,5.317422e+06,6.798460e+06,0.544474,0.518416,1.156681,0.079396
std,4.749198e+06,4.343138e+06,0.498019,0.907113,3.521691,0.372206
min,1.001000e+03,1.001000e+03,0.000000,0.000000,-11.000000,0.000000
25%,1.112660e+05,2.080790e+05,0.000000,0.000000,0.000000,0.000000
50%,9.310036e+06,9.505058e+06,1.000000,0.000000,1.000000,0.000000
75%,9.708050e+06,9.709097e+06,1.000000,1.000000,3.000000,0.000000
max,9.912293e+06,9.912293e+06,1.000000,10.000000,11.000000,8.000000